.you
  %h2 That's you!
  .technical_skills
    %h3 Programming Languages
    .languages
      .skill
        Ruby
      .skill
        Erlang
    .frameworks
      .skill
        Rails
      .skill
        Sinatra
