/ Footer
%footer
  #footer-inner.container_8.clearfix
    .grid_8
      %span{:class => "fr"}
        Created by Eric Astier |  &copy; 2010 - 
        %a{:href => "/"} GetVouched.com
        All Rights Reserved.
      = link_to ' About Us',   about_path
      |
      = link_to ' Terms of Service',   service_path
      |
      = link_to ' Privacy Poliy', privacy_path
      |
      = link_to ' Press ',   press_path


/ Footer End
