.main-content.grid_4.alpha
  %header
    %ul{:class => "action-buttons clearfix fr"}
      %li
        %a
    %h2 New Contact

  %section
    = render 'form'


.preview-pane.grid_3.omega
  .content
    .message.info
      = render 'import'
  .preview

